# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
*.egg

# Virtual environment
venv/
.venv/

# Environment variables
.env
env/

# IDE configs
.vscode/
.idea/

# Ignore Excel lock files
~$*.xlsx

# Ignore all visualizations
data/outputs/visualizations/